################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/FileMetadataCheater/.vs/FileMetadataCheater/v15
/FileMetadataCheater/bin/Debug
/FileMetadataCheater/obj/Debug
/FileMetadataCheater/bin/Release
/FileMetadataCheater/obj/Release
